<h3 id="kanjiname"><%= @kanji.symbolName %></h3>
<div id="kanji" class="kanji" style="background: url(<%= @kanji.imageUrl %>)center center no-repeat #fff;"></div>
<a href="#" id="playbutton" class="kanjibutton">Play</a>
<%= link_to 'See the results!', @kanji, :id => "results", :class => 'kanjibutton' %>
<div id="countdown">10</div>



<script type="text/javascript">var kanjiId = <%= @kanji.id %></script>
<%= javascript_include_tag "kanjiserver.js" %>