<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imageUrl %><br />
    <%= f.text_field :imageUrl %>
  </div>
  <div class="field">
    <%= f.label :kanjiId %><br />
    <%= f.number_field :kanjiId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
